/*  
    css priority
    #id 
    .class
    tag
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #91A3AD;

    display: flex;
    flex-direction: column;
    height: 50vh;
}

.main-header {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;

    background-color: #151819;
    box-shadow: 0px 4px 4px #ED145B;
}

.main-header>div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.feed {
    margin-top: 10px;
    flex-grow: 1;

    background-color: #08090B;
}

.post{
    background-color: #151819;
}